/* App.css */
body{
    background-color:aquamarine;
}

.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
  }
  
 .data-box{
  margin-top: 5%;
 }
  


  .data-item {
   text-align: center;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: black;
    
  
  }
   
  .data-item p {
    
    margin: 5px 0;
  }
.btn{
  display: flex;
  justify-content: right;
  color: black;
  box-shadow: 0cap;
}

  